#container, 
#{
	position: absolute;
	top: 300px;
	left: 500px;
}

div,
#game-section, 
#artistDiv {
	border-style: dashed;
	border-color: #FC12C2;
	float: left;
	width: 600px;
	height: 600px;
	margin-left: 230px;
	background-color: #FFF;

}

#guesses-remaining,
{
	border-style: dashed;
	border-color: #FC12C2;
	width: 150px;
	height: 200px;
	background-color: #FFF;
}


#div2 {
	text-align: left;
	width: 600px;
	margin-left: 0px;
	
}

/*.artist-image { 
	height: 500px;
	width: 350px; 
	margin-left: 100px;
	padding-top: 65px;
}*/

body {
	background: #D9CEFD;
	padding-top: 55px;
}

h1 {
	color: #FF3232;	
	font-size: 60px;
	text-align: center;
}

#incorrectLetter,
#div1,
#guessForm {
	padding top: 60px;
	color: #5181DB;
	font-size: 25px;
	text-align: center;

}

p, 
h3 {
	color: #FC12C2;
	text-align: center;
	font-weight: bold;
}